.language-bar {
  background-color: aliceblue;
  height: 20px;
  font-size: small;
}

img :hover {
  background-color: #ffb300
}

body {
  background-color: #251111;
  color: white;
}

hr {
  border-style: dashed;
  border-width: 5px;
  width: 5%;
}

h1 {
  color: #953939;
}

h2 {
  color: #953939;
}